
$color-blank:         #fff;
$color-dark:          #666;
$color-primary:       #0066cc;

$color-list: (
    blank #fff,
    blank\- darken($color-blank, 5%),
    blank\-\- darken($color-blank, 15%),
    dark $color-dark,
    dark\+ lighten($color-dark, 5%),
    dark\+\+ lighten($color-dark, 15%),
    dark\- darken($color-dark, 5%),
    dark\-\- darken($color-dark, 15%),
    primary $color-primary,
    primary\+ lighten($color-primary, 5%),
    primary\+\+ lighten($color-primary, 15%),
    primary\+\+\+ lighten($color-primary, 55%),
    primary\- darken($color-primary, 5%),
    primary\-\- darken($color-primary, 15%),
);