
$color-properties: (
    c color,
    bc border-color,
    bgc background-color,
) !default;

$color-list: (
    blank #fff,
    dark #666,
    primary #0066cc,
) !default;

$color-modifiers: (
    \- darken 5%,
    \-\- darken 15%,
    \-\-\- darken 50%,
    \+ lighten 5%,
    \+\+ lighten 15%,
    \+\+\+ lighten 50%,
) !default;
