
@each $color in $color-list {

  $alias: nth($color, 1);
  $value: nth($color, 2);

  .c-#{$alias} {
    color: $value
  }
  .c-#{$alias}\:hover:hover {
    color: $value
  }
  .bgc-#{$alias} {
    background-color: $value
  }
  .bgc-#{$alias}\:hover:hover {
    background-color: $value
  }

  .bc-#{$alias} {
    border-color: $value
  }
  .bc-#{$alias}\:hover:hover {
    border-color: $value
  }

  @each $breakpoint in $breakpoints {

    $media: nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    @media #{$condition} {

      .c-#{$alias}\@#{$media} {
        color: $value
      }

      .c-#{$alias}\@#{$media}\:hover:hover {
        color: $value
      }

      .bgc-#{$alias}\@#{$media} {
        background-color: $value
      }

      .bgc-#{$alias}\@#{$media}\:hover:hover {
        background-color: $value
      }

      .bc-#{$alias}\@#{$media} {
        border-color: $value
      }

      .bc-#{$alias}\@#{$media}\:hover:hover {
        border-color: $value
      }

    }

  }
}