
@each $property in $color-properties {  
  @each $color in $color-list {    
    @each $modifier in $color-modifiers {

      $propertyAlias: nth($property, 1);
      $propertyName: nth($property, 2);

      $colorAlias: nth($color, 1);
      $colorValue: nth($color, 2);
      
      $modifierAlias: nth($modifier, 1);
      $modifyMethod: nth($modifier, 2);
      $modifyValue: nth($modifier, 3);

      .#{$propertyAlias}-#{$colorAlias} {
        #{$propertyName}: $colorValue;
      }
      .#{$propertyAlias}-#{$colorAlias}\:hover:hover {
        #{$propertyName}: $colorValue;
      }
      .#{$propertyAlias}-#{$colorAlias}#{$modifierAlias} {
        #{$propertyName}: call($modifyMethod, $colorValue, $modifyValue);
      }
      .#{$propertyAlias}-#{$colorAlias}#{$modifierAlias}\:hover:hover {
        #{$propertyName}: call($modifyMethod, $colorValue, $modifyValue);
      }

      @each $breakpoint in $breakpoints {
    
        $media: nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);
    
        @media #{$condition} {

          .#{$propertyAlias}-#{$colorAlias} {
            #{$propertyName}: $colorValue;
          }
          .#{$propertyAlias}-#{$colorAlias}\:hover:hover {
            #{$propertyName}: $colorValue;
          }
          .#{$propertyAlias}-#{$colorAlias}#{$modifierAlias}\@#{$media} {
            #{$propertyName}: call($modifyMethod, $colorValue, $modifyValue);
          }
          .#{$propertyAlias}-#{$colorAlias}#{$modifierAlias}\@#{$media}\:hover:hover {
            #{$propertyName}: call($modifyMethod, $colorValue, $modifyValue);
          }
    
        }
    
      }
      
    }
  }
}